#
# Configuration file for archinstaller.sh
# 
# Copy it to the same directory as archinstaller.sh
#
# authors	: Dennis Anfossi & teateawhy
# contact	: https://github.com/vitamins/archinstaller
# date		: 12.12.2013
# version	: 0.5.3
# license	: GPLv2
#
# Read archinstaller.sh for details about how the options are processed.
#
# EXAMPLE CONFIGURATION ONLY
#

dest_disk='/dev/sda'
uefi='no'
partition_table='gpt'
bootloader='syslinux'
swap='no'
root_size='20G'
fstype='ext4'
encrypt_home='yes'
cipher='aes-xts-plain64'
hash_alg='sha512'
key_size='512'
mirror='http://mirror.de.leaseweb.net/archlinux/'
packages=(vim)
locale_gen='de_DE.UTF-8 UTF-8'
locale_conf='de_DE.UTF-8'
keymap='de-latin1'
font='Lat2-Terminus16'
timezone='Europe/Berlin'
hardware_clock='utc'
hostname='ted'
network='dhcpcd'
set_root_password='no'
add_user='yes'
user_name='archey'
xorg='yes'
install_desktop_environment='yes'
desktop_environment='xfce4'
install_display_manager='no'
