##############################################################
# title		: ari.conf.example
# description	: Example configuration for archinstaller
# authors	: Dennis Anfossi & teateawhy
# contact	: https://github.com/vitamins/archinstaller
# date		: 24.01.2014
# version	: 0.6.5.1
# license	: GPLv2
##############################################################

# See README for additional options, and read the script for
# details about how options are processed.
# EXAMPLE CONFIGURATION ONLY

uefi='no'
bootloader='syslinux'
dest_disk='/dev/sda'
partition_table='gpt'
swap='no'
encrypt_home='yes'
cipher='aes-xts-plain64'
hash_alg='sha512'
key_size='512'
root_size='20G'
fstype='ext4'
mirror='http://mirror.de.leaseweb.net/archlinux/'
locale='de_DE.UTF-8 UTF-8'
keymap='de-latin1'
font='Lat2-Terminus16'
timezone='Europe/Berlin'
hardware_clock='utc'
hostname='ted'
network='dhcpcd'
set_password='no'
add_user='yes'
username='archey'
packages=(vim zsh)
xorg='yes'
desktop_environment='xfce4'
display_manager='no'
